.calc-body{
    width: 600px;
    /* height: 500px; */
    background-color: black;
    padding: 10px;
    margin-left: 400px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;

}
#display{
    background-color: rgb(37, 37, 37);
    padding: 10px;
    margin: 10px;
    width: 500px;height: 60px;
    border-radius: 10px;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: end;
}
.calc-rows{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}
 button{
    background-color: rgb(37, 37, 37);
    width: 100px; height: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border: none;
}
.operations{
    background-color: orange;
    color: white;
}
.operations:active{
    background-color: rgb(248, 181, 57);
}
/* .operations:hover{
    background-color: rgb(218, 141, 0); */
/* } */
.last-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}
.opps{
    background-color: gray;
}
.opps:active{
    background-color: rgb(223, 199, 199);
}
.calc-display-value{
    text-align: end;
}