*{
    margin:0;
    padding:0;
}
.calc-body{
    /* display:flex;
    justify-content:center;
    align-items:center;
    align-content:center; */
    width: 98%;
    /* height: 99vh;  */
    background-color: black;
    padding: 10px;
    /* margin-left: 400px; */
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.last-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* margin-top:-50px; */
    margin: 10px;
}
#display{
    background-color: rgb(37, 37, 37);
    /* padding: 10px; */
    /* margin: 10px; */
    width: 950px;height: 30vh;
    border-radius: 10px;
    color: white;
    font-size: 100px;
    font-weight: bold;
    text-align: end;
    /* top: 10px; */
}
.calc-rows{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-template-rows: 25% 25% 25% 25%; */
    /* padding-top:400px; */
    /* margin: 30px; */
}
button{
    background-color: rgb(37, 37, 37);
    width: 200px; height: 200px;
    padding: 10px;
    margin: 20px;
    border-radius: 50%;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    border:none;
}
.operations{
    background-color: orange;
    color: white;
}
.operations:active{
    background-color: rgb(248, 181, 57);
}
/* .operations:hover{
    background-color: rgb(218, 141, 0); */
/* } */
.last-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}
.opps{
    background-color: gray;
}
.opps:active{
    background-color: rgb(223, 199, 199);
}
.calc-display-value{
    text-align: end;
}
  